@charset "UTF-8";

body {
    margin: 0 auto;
}

#con {
    width: 100%;
}
#login {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    position: relative;
}
#login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
.login {
    font-size: 1.4vw;
    margin: 0;
    padding: 0 0 1.4vw;
    border-bottom: 1px solid #000;
    margin-bottom: 1.4vw;
}
label > p {
    text-align: left;
    font-size: 1vw;
}

input {
    font-size: 1vw;
}

.size {
    width: 100%;
    box-sizing: border-box;
    height: 2.4vw;
    padding: 0;
    background-color: #f4f4f4;
    border: none;
    border-radius: 0.3vw;
    padding-left: 0.6vw;
}

.btn {
    margin-top: 1vw;
    width: 100%;
    height: 2.6vw;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.3vw;
    margin-bottom: 1vw;
    font-size: 1vw;
}
.btn:hover {
    background: #fff;
    border: #000 solid 1px;
    color: #000;
    transition: 0.3s;
    font-weight: bold;
}

.find {
    border-top: #000 solid 1px;
    color: #ddd;
    font-size: 0.8vw;
    padding-top: 1vw;
    text-align: left;
}
.find span {
    padding-left: 0.6vw;
}
.find span::before {
    content: '|';
    color: #333;
    padding-right: 0.6vw;
}
.find span:nth-child(1):before {
    content: none;
}

.find span:nth-child(1) {
    padding-left: 0;
}

.find a:hover {
    color: #707070;
}

footer {
    margin-top: 5vw;
}




/* tablet */

@media screen and (max-width:1200px) {
    #login_form {
        width: 60%;
    }
    .login {
        font-size: 3vw;
        padding: 0 0 2vw;
        margin-bottom: 2vw;
    }

    .size {
        height: 4vw;
    }

    label > p {
        font-size: 1.8vw;
    }

    input {
        font-size: 1.8vw;
    }

    .btn {
        height: 4.2vw;
        font-size: 1.8vw;
        margin-top: 1.8vw;
    }

    .find {
        font-size: 1.6vw;
    }
}




/* mobile */

@media screen and (max-width:700px) {

    #login_form {
        width: 70%;
    }
    .login {
        font-size: 5vw;
        padding: 0 0 3vw;
        margin-bottom: 4vw;
    }

    .size {
        height: 6vw;
    }

    label > p {
        font-size: 3vw;
    }

    input {
        font-size: 3vw;
    }

    .btn {
        height: 6.2vw;
        font-size: 2.8vw;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }

    .find {
        font-size: 2.4vw;
        padding-top: 3vw;
    }
}
