@charset "UTF-8";



main {
	margin: 0 8vw;
}

main .list-table {
	margin-top: 5vw;
	width: 100%;
	border-top: 1px solid #000;
}

main .list-table thead tr th {
	height: 3vw;
	font-size: 1vw;
	border-bottom: 1px solid #000;
}

main .list-table tbody tr td {
	border-bottom: 1px solid #000;
	height: 3vw;
	font-size: 0.8vw;
	
}
main .list-table tbody tr td a:hover {
	opacity: 0.8;
	transition: 0.2s;
}


/* mobile */

@media screen and (max-width:700px) {
	main .list-table {
		margin-bottom: 30vw;
	}
    main .list-table thead tr th {
		height: 15vw;
		font-size: 3vw;
	}
	
	main .list-table tbody tr td {
		height: 15vw;
		font-size: 3vw;
		
	}
}